rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Temporary rules to allow all access for development
    // TODO: Update these rules for production
    match /{document=**} {
      allow read, write: if true;
    }
  }
} 